nav {
  direction: rtl;
  text-align: right;
}

nav a {
  color: $mainColor;
}
.nav-item {
  padding-right: 30px;
  font-weight: 600;
}

.search-bar {
  background: $mainColor;
  border-radius: 100px;
  width: 25px;
  height: 25px;
}
.search-icon {
  font-size: 0.8em;
  left: 15px;
}
.search-box {
  width: 200px;
  height: 35px;
  background: #f3f3f3;
  position: absolute;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 100px;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 0;
  margin: auto;
  bottom: 0;
  top: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  &:focus {
    outline: none;
  }
}
.logo-image {
  width: 100px;
  height: auto;
}
.logo-text {
  font-family: "Mj Tunisia";
}
.dropdown-toggle::after {
  color: $mainColor !important;
  font-size: 0.8em;
  margin-right: 2px;
}
.dropdown-menu button {
  color: $mainColor !important;
}

.navbar-light .navbar-nav .nav-link,
.logo-text {
  color: $mainColor;
  transition: all 0.2s;
  border-radius: 50px;
}
.navbar-light .navbar-nav .nav-link:hover {
  background: rgb(248, 248, 248);
  color: #3f6cb6;
}
