
.splash-container {
  width: 100%;
  position: relative;
}
.splash-cover {
  width: 100%;
  position: relative;
}
.slogan {
  position: absolute;
  bottom: 17%;
  margin: auto;
  color: $accentColor;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding-left: 20px;
  padding-bottom: 20px;
}
.slogan-top {
  font-family: "Bebas";
  font-size: 2em;
}
.slogan-bottom {
  font-family: "Bebas";
  font-size: 3em;
}

@media (max-width: 900px) {
  .slogan-top {
    font-family: "Bebas";
    font-size: 1.5em;
  }
  .slogan-bottom {
    font-family: "Bebas";
    font-size: 2em;
  }
}
